<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link th:href="@{/cart.css}" rel="stylesheet"> 
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
        <h1 th:text="'Заявка №' + ${connection_request.getId()}">Заявка №0</h1>
        <form class="form">
            <div class="form-group">
                <label for="Consumer">Заказчик:</label>
                <input type="text" id="Consumer" th:value="${connection_request.getConsumer()}" readonly>
            </div>
            <div class="form-group">
                <label for="contact">Номер для связи:</label>
                <input type="tel" id="contact" th:value="${connection_request.getPhoneNumber()}" readonly>
            </div>
        </form>
        <div class="cards-container">
            <div th:each="dutyRequest : ${connection_request.getDutyRequests()}" class="card">

                <img class="card-image" th:src="${dutyRequest.providerDuty.getImgUrl()}" th:alt="${dutyRequest.providerDuty.getTitle()}">
                
                <div class="card-content">
                    <h2 class="card-title" th:text="${dutyRequest.providerDuty.getTitle()}">Название тарифа</h2>
                    <div class="card-footer">
                        <div class="form-amount-input">
                            <div class="label-container">
                                <p class="amount-label" th:text="${dutyRequest.providerDuty.getAmountDescription()}"></p>
                            </div>
                            <div class="input-container">
                                <input class="amount-input" type="number" th:value="${dutyRequest.getAmount()}">
                            </div>
                        </div>
                        <p class="duty-price" th:text="${dutyRequest.providerDuty.getMonthlyPayment()} ? 
                                (${dutyRequest.providerDuty.getPrice() * dutyRequest.getAmount()} + ' ₽/мес') : 
                                (${dutyRequest.providerDuty.getPrice() * dutyRequest.getAmount()} + ' ₽')">
                    </div>
                    
                        <!-- <div class="detail-item">
                            <img class="card-detail-image" src="http://127.0.0.1:9000/lab1/quantity.png" alt="Количество">
                            <p th:text="${dutyRequest.providerDuty.getAmountDescription()} + ' - ' + ${dutyRequest.getAmount()}">Описание</p>
                        </div>
                        <div class="detail-item">
                            <img class="card-detail-image" src="http://127.0.0.1:9000/lab1/ruble.png" alt="Стоимость">
                            <p th:text="${dutyRequest.providerDuty.getMonthlyPayment()} ? 
                                        ('стоимость ' + ${dutyRequest.providerDuty.getPrice() * dutyRequest.getAmount()} + ' ₽ в месяц') : 
                                        ('стоимость ' + ${dutyRequest.providerDuty.getPrice() * dutyRequest.getAmount()} + ' ₽')">
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="total-price-container">
                <p class="total-price-label">Итого:</p>
                <p class="total-price" th:text="${total_price} + ' ₽'"></p>
            </div>

            <form style="width: 1000px;">
                <button type="submit" class="delete-request" name="requestId" th:value="${connection_request.getId()}">Удалить заявку</button>
            </form>
        </div>
    </div>
</body>
</html>
