<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги</title>
    <link th:href="@{/duties.css}" rel="stylesheet"> 
</head>
<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <a th:href="@{/connection_requests/{id}(id=${cart.isPresent() ? cart.get().getId() : 0})}" class="cart">
        <img src="http://127.0.0.1:9000/lab1/bee.png" alt="Bee Icon">
        <p style="font-size: 14px; font-weight: 700;" th:text="'Выбрано услуг: ' + (${cart.isPresent()} ? ${cart.get().getDutyRequests().size()} : 0)"></p>
    </a>
    
    <h1 class="page-title">Услуги провайдера</h1>

    
    <div class="main-container">
        <form action="/duties/search" method="get" class="search-form">
            
            <button type="submit" class="search-button">
                <img src="http://127.0.0.1:9000/lab1/lupa.png" alt="Search Icon">
            </button>

            <input type="text" name="serviceTitle" placeholder="Поиск" class="search-input" th:value="${serviceTitle}">

            <!-- <button type="reset" class="reset-button">
                <img src="http://127.0.0.1:9000/lab1/cross.png" alt="Close Icon">
            </button> -->
        </form>

        <p th:if="${serviceTitle != null}" class="search-text" 
            th:text="'Результаты поиска по слову «' + ${serviceTitle} + '»'">
        </p>

        <div class="cards-container">
            <div th:each="duty : ${duties}">
                <div class="card">
                    <div class="card-header">
                        <img th:src="${duty.getImgUrl()}" th:alt="${duty.getTitle()}">
                    </div>
                    <h2 class="card-title" th:text="${duty.getTitle()}"></h2>
                    <div class="card-price" th:text="${duty.getMonthlyPayment()} ? 'от ' + ${duty.getPrice()} + ' ₽/мес' : 'от ' +${duty.getPrice()} + ' ₽ за ' + ${duty.getUnit()}">Цена</div>
                    <div class="card-footer">
                        <a th:href="@{/duties/{id}(id=${duty.getId()})}" class="btn-about">Подробнее</a>
                        <form th:action="@{/connection_requests/add_provider_duty}" method="post">
                            <button type="submit" class="btn-add" name="dutyId" th:value="${duty.getId()}">Добавить</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>



