<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${duty.getTitle()}">Duty Details</title>
    <link rel="stylesheet" th:href="@{/duty.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
        <div class="duty-card">
            <img th:src="${duty.getImgUrl()}" alt="Duty Image" class="duty-image">
            <h2 class="duty-title" th:text="${duty.getTitle()}"></h2>
            <p class="duty-description" th:utext="${duty.getDescription()}"></p>

            <!-- <div class="attributes">
                <div class="attribute" th:each="attribute : ${duty.getAttributes()}">
                    <img th:src="${attribute.getImageURL()}" alt="Attribute Icon" class="attribute-icon">
                    <p class="attribute-description" th:text="${attribute.getDescription()}"></p>
                </div>
            </div> -->

            <div class="price" th:text="${duty.getMonthlyPayment()} ? 'от ' + ${duty.getPrice()} + ' ₽/мес' : 'от ' +${duty.getPrice()} + ' ₽ за ' + ${duty.getUnit()}">Цена</div>
        </div>
    </div>
</body>
</html>

