<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${offer.get('title')}">Offer Details</title>
    <link rel="stylesheet" th:href="@{/offer.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">

        <!-- <a th:href="@{/offers}" class="menu-button">
            <img src="http://127.0.0.1:9000/lab1/menu.png" alt="Menu Icon" class="menu-button-image">
            Каталог
        </a> -->
        
        <div class="offer-card">
            <img th:src="${offer.get('imageURL')}" alt="Offer Image" class="offer-image">
            <h2 class="offer-title" th:text="${offer.get('title')}"></h2>
            <p class="offer-description" th:utext="${offer.get('description')}"></p>

            <!-- <div class="attributes">
                <div class="attribute" th:each="attribute : ${offer.getAttributes()}">
                    <img th:src="${attribute.getImageURL()}" alt="Attribute Icon" class="attribute-icon">
                    <p class="attribute-description" th:text="${attribute.getDescription()}"></p>
                </div>
            </div> -->

            <div class="price" th:text="${offer.get('monthlyPayment')} ? 'от ' + ${offer.get('price')} + ' ₽/мес' : 'от ' +${offer.get('price')} + ' ₽ за ' + ${offer.get('unit')}">Цена</div>
        </div>
    </div>
</body>
</html>
